<div class="">
  <form class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Titre panel</strong></div>
      <div class="panel-body">
        <div class="form-group row">
          <label id="idLbl" class="col-sm-7 control-label" for="idInput">Label <i class="glyphicon glyphicon-info-sign"></i></label>
          <div class="col-sm-5 input-group input-group-sm">
            <input type="text" id="idInput" size="8" maxlength="8" class="form-control text-right monetaire" value='{{formatMonet montant}}'>
            <span class="input-group-addon">&euro;</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</diV>