/* Couleurs */

$blanc= #fff
$blancc= #fbfbfb

$noir= #000
$noirc= #929292

$bleuttf= #23406e
$bleuet= #216f9d
$bleul= #4997c4
$bleuvif= #328de2
$bleutf= #173c54
$bleuf= #005195
$bleuc= #2480cc
$bleutc= #7fb5e1
$bleuint= #dce7f0
$bleuoff = #c0ced8

$bleufddoc= #356e8e
$bleufdsrc= #195479

$rose= #EE41A8
$rosef= #DE2F7D

$seegrau= #8dafcb

$gristc= #f1f2f4
$grisc= #e8ebec
$grism= #949494
$grisf= #5a5b5d
$gristf= #2d2d2d
$grisrech= #dbdcde
$grisplus= #e4e7e9