@import 'nib'
@import '../../styles/variables'

.home-page
  width: 551px
  margin: 0 auto
  padding: 5px
  margin-bottom: 0.5em
  background: $gristc
  border: 1px solid #dddddd
  border-radius: (10px)

  .panel-heading
    background-color: $bleuoff
