@import 'nib'

.home-page
  width: 551px
  margin: 0 auto
  padding: 5px
  margin-bottom: 0.5em
  background: #f1f2f4
  border: 1px solid #dddddd
  border-radius: (10px)

  .panel-heading
    background-color: #c0ced8
